{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Blog{% endblock %}</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
</head>
<body>
    <div class="px-4 mx-auto max-w-7xl sm:px-6">
        <div class="relative pt-6 pb-16 sm:pb-24">
            <!-- Header -->
            {% include 'post/partials/header.html' %}

            <!-- Main Content -->
            <main class="container px-4 py-8 flex flex-col md:flex-row gap-4">
                <div class="flex-1">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>            
            <!-- Footer -->
              {% include 'post/partials/footer.html' %}
        </div>
    </div>
</body>


</html>
