# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/
*.env
.env
.env.*

# If using Docker:
*.pid
*.seed
*.cover
*.env
*.DS_Store
.dockerignore
docker-compose.yml
Dockerfile
*.db
*.sqlite
*.sqlite3

# If using migrations:
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.py[cod]
*/migrations/*.log
*/migrations/*.pot

# If using pipenv:
Pipfile
Pipfile.lock

# If using pyenv:
.python-version

# If using celery:
celerybeat-schedule
celerybeat.pid

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and Editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook
.ipynb_checkpoints

# System files
*.swp
*.swo
*~

# Virtual environment
venv/
env/
ENV/
.venv/

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytestdebug.log

# Static and media files
/static/
./media/

# Local env files
*.env
.env

# Gunicorn log files
gunicorn.log
gunicorn-access.log
gunicorn-error.log

# MyPy type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Pyright static type checker
.pyright/

# Pytest
.pytest_cache/
