{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="flex flex-col items-center min-h-screen px-4 py-8">
    <h1 class="text-4xl font-bold mb-6 text-center">Contact Us</h1>
    
    <div class="prose max-w-lg mx-auto">
        <p class="">We’d love to hear from you! Whether you have questions, feedback, or just want to connect, please reach out to us using the contact details below.</p>
        <ul class="list-disc pl-5 mt-4 mx-auto ">
            <li>Email: <a href="https://github.com/Josue-Tejeda" class="text-blue-600 hover:underline">https://github.com/Josue-Tejeda</a></li>
            <li>Phone: +1 (123) 456-7890</li>
        </ul>
    </div>
</div>
{% endblock %}
